<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Incentives Program</title>
    <style>
    body {
        margin: auto;
        padding: 10px;
    }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" /> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>    
</head>
<body>

    {{ form_start(ActionForm, {'attr': {'id':'ActionForm'}}) }}

    <div class="form-group">
        <div class="row">
            <div class="col">
            {{ form_row(ActionForm.name, {'attr': {'id': 'name', 'class':'form-control', 'placeholder':'Please enter employee name' }}) }}
            </div>
            <div class="col">
            {{ form_row(ActionForm.date, {'attr': {'id': 'date', 'class':'form-control js-datepicker', 'placeholder':'Select the date' }}) }}
            </div>
        </div>         
    </div>
    <br />
    <h3>Deliveries</h3>
    <div class="row">
        <div class="col">
        {{ form_row(ActionForm.delivery_quantity, {'attr': {'id': 'delivery_quantity', 'class':'form-control', 'placeholder':'Number of deliveries made' }}) }}            
        </div>
        <div class="col">
            {{ form_row(ActionForm.delivery_time, {'attr': {'id': 'delivery_time', 'class':'form-control', 'placeholder':'How many hours it took?' }}) }}
        </div>
    </div>        
    <br />
    <h3>Rideshare</h3>
    <div class="row">
        <div class="col">
        {{ form_row(ActionForm.rideshare_quantity, {'attr': {'id': 'rideshare_quantity', 'class':'form-control', 'placeholder':'Number of rideshares made' }}) }}
        </div>
        <div class="col">
        {{ form_row(ActionForm.rideshare_time, {'attr': {'id': 'rideshare_time', 'class':'form-control', 'placeholder':'How many hours it took?' }}) }}
        </div>
    </div>
    <br />
    <h3>Rent</h3>
    <div class="row">
        <div class="col">
        {{ form_row(ActionForm.rent_quantity, {'attr': {'id': 'rent_quantity', 'class':'form-control', 'placeholder':'Number of rents made' }}) }}
        </div>
        <div class="col">
        {{ form_row(ActionForm.rent_time, {'attr': {'id': 'rent_time', 'class':'form-control', 'placeholder':'How many days it took?' }}) }}
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
        {{ form_row(ActionForm.Submit, {'attr': {'id': 'Submit'}}) }}
        </div>
    </div>        
    {{ form_end(ActionForm) }}
    
    <p>{% if user is not null %}<br />{{ user|raw}}{% endif %}</p>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>    
    <script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $(".js-datepicker").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true,
            maxDate: '0',
            orientation: 'bottom left'
        });
    });   
    </script>
</body>
</html>